################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VkAutoPhotoUploader/obj/Debug
/VkAutoPhotoUploader/bin/Debug
/.vs/VkAutoPhotoUploader/v14
